<div class="menu">
    Delete Failed
</div>
<div class="fail-container">
    <p>Shipper ini sudah pernah ditransaksikan</p>
    <p>Anda tidak bisa melakukan penghapusan/Edit untuk shipper ini</p>
    <p>Silahkan beri check pada menu StopService untuk tidak menampilkan pada menu shop</p>
</div>