@{
    ViewData["Title"] = "Home Page";
}

<div class="menu">
    Home
</div>

<div class="text-center">
    <p>
        <div>
           Sealamat Datang di TrollMarket
        </div>
        <div>
           Ini adalah marketplace yang tidak pernah ada promosi dan diskon
        </div>
        <div>
           Karena ini adalah assignment buat kalian jadi buat apa ada diskon
        </div>
    </p>
</div>
