<div class="menu">
   Delete Failed
</div>
<div class="fail-container">
    <p>Produk ini sudah pernah ditransaksikan</p>
    <p>Anda tidak bisa melakukan penghapusan/Edit untuk produk ini</p>
    <p>Silahkan beri check pada menu discontinue untuk tidak menampilkan pada menu shop</p>
</div>