@{
    Layout = "_AccountLayout";
}
@model RegisterViewModel
<form method="post" asp-action="register" asp-controller="Auth">
    @if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
    {
        <div>
            <span style="color:darkred;">@ViewBag.ErrorMessage</span>
        </div>
    }
    <input  asp-for="Role" value="@Model.Role" type="hidden">
    <input type="text" asp-for="UserName" name="username" placeholder="username" autocomplete="off" class="userName">
    <input type="password" asp-for="Password" name="password" placeholder="password" class="password">
    <input type="password" asp-for="RetypePassword" placeholder="confirm password">
    <input type="text" asp-for="Name" placeholder="Name">
    <td class="textarea-label">
    </td>
    <td>
        <textarea asp-for="Address" placeholder="Address"></textarea>
    </td>
    <button type="submit">Register</button>
</form>
